* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #64af92;
  }
  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn{
    width: 20%;
    margin: 5px;
  }
  .container {
    background-color: #64af92;
    /* width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); */
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 2rem;
    margin: .5rem;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: 1px solid rgb(106, 102, 102);
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  button:hover{
    background-color: #a89d9d;
  }

  #text-input {
    background-color: #ffffff;
    margin-top: 10px;
    border: 1px solid #dddddd;
    border-radius: .5rem;
    padding: 20px;
    height: 50vh;
  }
