* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #8758FF;
  }
  .nav{
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 1rem;
  }

  .container {
    background-color: #8758FF;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin: .5rem;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: 1px solid rgb(106, 102, 102);
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  button:hover{
    background-color: #a89d9d;
  }
  [contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
  }

  #text-input {
    background-color: #F2F2F2;
    
    margin: 10px ;
    height: 10vh;
    width: 20vw;
    min-width:20vw;
    border: 1px solid #dddddd;
    border-radius: .5rem;
    padding: 20px;
    transition: height ease 1s;
    cursor: pointer;
    overflow: hidden;
    
  }
  #text-input:hover{
    
    height: 50vh;
    transition: height ease 1s;
  }


  @media screen and (max-width: 475px) {
    .container {
     
    
      display: flex;
      flex-direction: column;
      
    }
    #text-input{
      margin: 0 auto;
      width: 90%;
      min-width:80vw;
    }
  }

  @media screen and (max-width: 800px) {
    .container {
    
      gap: .5rem;
      grid-template-columns: repeat(2,1fr);
      
    }
    #text-input{
      width: 40vw;
    }
  }
