* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #8758FF;
  }
  .nav{
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 1rem;
  }


  .container {
    background-color: #8758FF;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: .5rem;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  .option-button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: 1px solid rgb(106, 102, 102);
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  button:hover{
    background-color: #a89d9d;
  }

  #note {
    background-color: #F2F2F2;
    margin: .5rem ;
    height: 10vh;
    border: 1px solid #dddddd;
    border-radius: .5rem;
    padding: 1rem;
    transition: height ease 1s;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
  }
  .container {
    background-color: #8758FF;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: .5rem;
  }
  #note:hover{
    
    height: 20vh;
    transition: height ease 1s;
  }

  .edit{
    background-color: #020929;
    outline: none;
    color: #F2F2F2;
    margin: 10px;
  }

  
  #addTxt{
    background-color: #F2F2F2;
    margin: .5rem;
    padding: 1rem;
    height: 50vh;
    min-width: 80vw;
    border: 1px solid #dddddd;
    border-radius: .5rem;
    overflow: hidden;
    
  }
  .active{
    height: 100vh;
  }

  @media screen and (max-width: 475px) {
    .container {
      background-color: #8758FF;
      
      display: flex;
      flex-direction: column;
      
    }
   
  }

 